asgiref==3.8.1
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2024.10
cssbeautifier==1.15.1
Django==4.2.8
django-allauth==0.54.0
django-crispy-forms==2.3
djlint==1.35.2
EditorConfig==0.12.4
gunicorn==23.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.15.1
oauthlib==3.2.2
pathspec==0.12.1
pillow==10.4.0
PyJWT==2.9.0
python3-openid==3.2.0
regex==2024.9.11
requests-oauthlib==2.0.0
sqlparse==0.5.1
tqdm==4.66.5
