<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        console.log('handleEnableDisable', currentValue)
        var minusDisabled = currentValue < 2;
        console.log(minusDisabled)
        var plusDisabled = currentValue > 98;
        $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQuantityInputs = $('.qty_input');
    for(var i = 0; i < allQuantityInputs.length; i++){
        var itemId = $(allQuantityInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       console.log('second')
       var itemId = $(this).data('item_id');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    //    var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       var currentValue = parseInt($(closestInput).val());
       console.log("increment-qty", currentValue)
       $(allQuantityInputs).val(currentValue + 1);
       handleEnableDisable(itemId);
       
    });

    // $('.update-link').click(function(e) {
    //     var form = $(this).prev('update-form');
    //     form.submit();
    //    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       console.log('third')
       var itemId = $(this).data('item_id');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    //    var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       var currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue - 1);
       handleEnableDisable(itemId);
    });
</script>
