<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="{% url 'home' %}"
               id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="{% url 'authors' %}">
                Authors
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="#"
               id="all-books-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa-solid fa-caret-down"></i>
                Books
            </a>
            <div class="dropdown-menu border-0 bg-book border-dd"
                 aria-labelledby="all-books-link">
                <a href="{% url 'products' %}?sort=author&direction=asc" class="dropdown-item ">By Author</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="#"
               id="category-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa-solid fa-caret-down"></i>
                Categories
            </a>
            <div class="dropdown-menu border-0 bg-book border-dd"
                 aria-labelledby="category-link">
                {% for category in categories %}
                    <a href="{% url 'products' %}?category={{ category.name }}" class="dropdown-item">{{ category.friendly_name }}</a>
                {% empty %}
                    <a href="{% url 'products' %}?category=bestsellers" class="dropdown-item">Bestsellers</a>
                    <a href="{% url 'products' %}?category=new_releases" class="dropdown-item">New Releases</a>
                    <a href="{% url 'products' %}?category=our_recommendations" class="dropdown-item">Our Recommendations</a>
                    <a href="{% url 'products' %}?category=box_set" class="dropdown-item">Box Set</a>
                    <a href="{% url 'products' %}?category=fantasy" class="dropdown-item">Fantasy</a>
                    <a href="{% url 'products' %}?category=historic_fiction" class="dropdown-item">Historic Fiction</a>
                    <a href="{% url 'products' %}?category=science_fiction" class="dropdown-item">Science Fiction</a>
                    <a href="{% url 'products' %}?category=illustrated_books" class="dropdown-item">Illustrated Books</a>
                    <a href="{% url 'products' %}?category=casual_science" class="dropdown-item">Casual Science</a>
                    <a href="{% url 'products' %}?category=thriller" class="dropdown-item">Thriller</a>
                    <a href="{% url 'products' %}?category=true_stories" class="dropdown-item">True Stories</a>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
               href="#"
               id="about-us-link"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <i class="fa-solid fa-caret-down"></i>
                About  Us
            </a>
            <div class="dropdown-menu border-0 bg-book border-dd"
                 aria-labelledby="about-us-link">
                <a href="{% url 'faq' %}" class="dropdown-item">FAQ</a>
                <a href="{% url 'about' %}" class="dropdown-item">About Page</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
                <a href="{% url 'newsletter' %}" class="dropdown-item">Newsletter</a>
            </div>
        </li>
    </ul>
</div>
