<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5"
           href="#"
           id="all-books-link"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
           <i class="fa-solid fa-caret-down"></i>
             All Books
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
            <a href="" class="dropdown-item">By Category</a>
            <a href="" class="dropdown-item ">By Author</a>
            <a href="" class="dropdown-item ">By Price</a>
            <a href="" class="dropdown-item">All Products</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5"
           href="#"
           id="category-link"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
           <i class="fa-solid fa-caret-down"></i>
             Categories
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="category-link">
            <a href="" class="dropdown-item">Bestsellers</a>
            <a href="" class="dropdown-item">Fantasy</a>
            <a href="" class="dropdown-item">Historic Fiction</a>
            <a href="" class="dropdown-item">Science Fiction</a>
            <a href="" class="dropdown-item">Illustrated Books</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
            Bestsellers
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black" href="#">
            Authors
        </a>
    </li>
</ul>
</div>
