{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Confirm E-mail Address" %}
{% endblock %}

{% block inner_content %}
    <div class="col text-center mt-3">
        <h1>
            {% trans "Confirm E-mail Address" %}
        </h1>
        <hr class="w-50 mb-1">
        <br>
    </div>

    {% if confirmation %}
        <div class="custom-form">
            {% user_display confirmation.email_address.user as user_display %}

            <p class="text-center">
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
            </p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="text-right">
                {% csrf_token %}
                <button type="submit">
                    {% trans 'Confirm' %}
                </button>
            </form>

        {% else %}

            {% url 'account_email' as email_url %}

            <p>
                {% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
            </p>
        </div>
    {% endif %}

{% endblock %}
