{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock %}

{% block inner_content %}
    <div class="col text-center mt-3">
        <h1>
            {% trans "Password Reset" %}
        </h1>
        <hr class="w-50 mb-1">
        <br>
    </div>

    <div class="custom-form">
        {% if user.is_authenticated %}
            <div class="text-center">
                {% include "account/snippets/already_logged_in.html" %}
            </div>
        {% endif %}

        <p class="text-center">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>

        <form method="post"
              action="{% url 'account_reset_password' %}"
              class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-outline-black text-right" href="{% url 'account_login' %}">Back to Login</a>
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p class="text-center">
            {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
        </p>
    </div>
{% endblock %}
