{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# djlint:off H006 #}

    <div class="overlay">
    </div>
    <div class="container container-height">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h1>
                        About Us
                    </h1>
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto pt-5">
                    <img class="about-image img-fluid"
                         src=" {{ about.about_image.url }}"
                         alt="{{ about.title }}" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <br>
                            <h2 class="text-center">
                                {{ about.title }}
                            </h2>
                            <br>
                            {{ about.content | safe }}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-right">
                    <p class="text-end">
                        <em>Updated on: {{ about.updated_on }}</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
