{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# djlint:off H006 #}

    <div class="overlay">
    </div>
    <div class="container-fluid container-height">
        <div class="row">
            <div class="col text-center mt-3">
                <h1>
                    Products
                </h1>
                <hr class="w-50 mb-1">
                <br>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                                class="custom-select custom-select-sm border border-
                                       {% if current_sorting != 'None_None' %}
                                           info
                                       {% else %}
                                           black
                                       {% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)
                            </option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)
                            </option>
                            <option value="author_asc" {% if current_sorting == 'author_asc' %}selected{% endif %}>
                                Author (A-Z)
                            </option>
                            <option value="author_desc"
                                    {% if current_sorting == 'author_desc' %}
                                        selected
                                    {% endif %}>
                                Author (Z-A)
                            </option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                Name (A-Z)
                            </option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                        {% endif %}
                        {% if products|length == 1 %}
                            {{ products|length }} Product
                        {% else %}
                            {{ products|length }} Products
                        {% endif %}
                        {% if search_term %}
                            found for <strong>"{{ search_term }}"</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="row mt-1 mb-2">
                </div>
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2 mg-btm">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    <div class="text-center">
                                        <br>
                                        {% if product.image %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <div class="image-container product-img-container">
                                                    <img class="card-img-top product-img"
                                                         src="{{ product.image.url }}"
                                                         alt="{{ product.name }}">
                                                </div>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'product_detail' product.id %}">
                                                <div class="image-container product-img-container">
                                                    <img class="card-img-top product-img"
                                                         src="{{ MEDIA_URL }}noimage.jpg"
                                                         alt="{{ product.name }}">
                                                </div>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="name-container mb-0">
                                        <p class="mb-0">
                                            <strong>{{ product.name }}</strong>
                                        </p>
                                    </div>
                                    <br class="change-sz">
                                    <a href="{% url 'products' %}?author={{ author.id }}" class="author-text">
                                        <div class="cover-container">
                                            <p class="mb-0">
                                                {{ product.author.friendly_name }}
                                            </p>
                                        </div>
                                    </a>
                                    <br>
                                    <div class="cover-container">
                                        <p class="mb-0">
                                            {{ product.cover.name }}
                                        </p>
                                    </div>
                                    <br>
                                    {% if product.category.all %}
                                        {% for category in product.category.all %}
                                            <a class="text-muted" href="{% url 'products' %}?category={{ category.name }}">
                                                <div class="category-container">
                                                    <i class="fas fa-tag mr-1"></i>{{ category.friendly_name }}
                                                </div>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <br>
                                                <p class="lead mb-0 text-left font-weight-bold">
                                                    ${{ product.price }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm border border-black scroll-mg">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0);
		});
    </script>

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}
